<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Assistir palestras do TDC 😃</string>
	<string>Jogar Diablo no PS4 🎮</string>
	<string>Jogar Diablo no PC 💀</string>
	<string>Xingar muito no Twitter 🐦</string>
	<string>Reclamar do Cocoapods 💩</string>
	<string>Reclamar do XIB 😱</string>
	<string>Falar que iOS &gt; Android 😎</string>
	<string>🍻 Happy Hour 🍻</string>
	<string>Almoçar 🌭</string>
	<string> 🛠 Atualizar o Xcode 🛠</string>
	<string>Comprar um Mac 💸 💸</string>
	<string>Comprar passagem ✈️</string>
	<string>Ligar pro Batman ☎️</string>
	<string>Pegar o trem 🚆</string>
</array>
</plist>
